<h1><%= @game.title %></h1>

<% if @game.user != current_user %>

  <% if !current_user.participated?(@game) %>
    <%= link_to "Join", join_form_game_path(@game), :class => "btn btn-primary" %>
  <% else %>
    <%#= link_to "Quit", quit_game_path(@game), :method => :delete, :class => "btn btn-primary" %>
  <% end %>

<% end %>

<% if current_user.participated?(@game) %>
  <%= link_to "Complete!", complete_form_game_path(@game), :class => "btn btn-primary" %>
<% end %>


<br>

Total Participators: <%= @challengers_count %>


<p><%= @game.description %></p>

<h3>Challengers</h3>

<table class="table">
  <tbody>
    <% @challengers.each do |challenger| %>
      <tr>
        <td><%= render_user_avatar(challenger) %><%= challenger.name %></td>
        <td>
          <% if challenger.game_result(@game) %>
            <%= link_to challenger.game_result(@game).image.large.url do %>
              <%= image_tag(challenger.game_result(@game).image.small) %>
            <% end %>

            <%= challenger.game_result(@game).description %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



