<a href="/games" style="display: block; padding: 20px;height: 100px; background-color:#ffcd84; color: white; font-size: 40px;margin-bottom: 0;">
  <%= fa_icon("angle-left") %> Challenge
</a>


<% if @game.ended? %>
  <% if @game.game_participators.winners.pluck(:user_id).include?(current_user.id) %>
    <%= image_tag("/images/win.png", :class => "img-responsive center-block") %>
  <% else %>
    <%= image_tag("/images/lose.png", :class => "img-responsive center-block") %>
  <% end %>
<% end %>

<div class="header text-center" style="background-color:#f3fef5;padding: 20px 20px;">
  <h1 style="color:#a3a6a4;font-size: 26px;margin-top:10px;"><%= @game.title %></h1>
  <p><%= @game.description %></p>

  <% if @game.user != current_user %>

    <% if !current_user.participated?(@game) %>
      <%= link_to "Join", join_form_game_path(@game), :class => "btn btn-lg btn-primary btn-block" %>
    <% else %>
      <%= link_to "Join", join_form_game_path(@game), :class => "btn btn-lg btn-primary btn-block", :disabled => :disabled %>
    <% end %>

  <% else %>
    <% if !@game.ended? %>
      <% if current_user.participated?(@game) %>
        <%= link_to "Choose Winner", choose_winner_game_path(@game), :class => "btn btn-lg btn-primary btn-block" %>
      <% end %>
    <% end %>
  <% end %>


  <% if !@game.ended? %>
    <% if current_user.participated?(@game) %>
      <%= link_to "Upload result!", complete_form_game_path(@game), :class => "btn btn-lg btn-danger btn-block" %>
    <% end %>
  <% end %>

</div>


<h3 style="color: white; padding: 0 10px; font-weight: normal">challengers:</h3>

<table class="table">
  <tbody>
    <% @challengers.each do |challenger| %>
      <tr>
        <td class="text-center" style="padding-top:15px;color: gold">
          <%= fa_icon("trophy", :style => "font-size: 30px;") if @game.game_participators.winners.pluck(:user_id).include?(challenger.id) %>
        </td>
        <td><%= render_user_avatar(challenger) %></td>
        <td>
          <% if challenger.game_result(@game) %>
            <%= link_to challenger.game_result(@game).image.large.url do %>
              <%= image_tag(challenger.game_result(@game).image.small, :style => "width: 50px") %>
            <% end %>
            <%= challenger.game_result(@game).description %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



